<div>

    <p class="sub_text">
        <font><strong>NOTE: From this screen, you will transfer to the Account Information page (for active accounts) or
            the Deleted Account Information page (for deleted accounts), which will display the WCMSAP, MSPRP, and CRCP 
            Account contact information. </strong></font>
    </p>

    <h3 class="heading_color">Account ID Query for Workers' Comp/Medicare Secondary Payer Recovery Portal/Commercial Repayment 
        Center Portal Submitters/Registrants Contact Information </h3>

    <p>To transfer to the Account Information page, enter the Account ID and select <strong>Continue.</strong> </p>

    <p class="sub_text">
    <h3 class="heading_color">EIN Query for Workers'Comp/Medicare Secondary Payer Recovery Portal 
        Submitters/Registrants Contact Information </h3>
    <p>To transfer to the Account Information page, enter the corporation's 9-digit EIN and select <strong>Continue.</strong>
    EIN is only applicable for corporate account types.</p>

    <p class="sub_text"> <strong class="color_red">IMPORTANT:<span class="color_red"> Prior to processing a request,
                you must follow the</span> <span class="color_blue"> BCRC Secure Web Site Authentication Guidelines for
                EDI Representatives.
            </span></strong> </p>



    <div class="searchForm">
        <div class="field grid-col-3">
            <label for="loginEmail" class="block">Account ID</label>
            <input class="usa-input" id="loginEmail" type="text" aria-describedby="loginEmail-help" pInputText />
        </div>
        <p-divider layout="vertical" class="vertical-spacer">
            <b>OR</b>
        </p-divider>
        <div class="field grid-col-3">
            <label for="loginId" class="block">EIN</label>
            <input class="usa-input" id="loginId" type="password" aria-describedby="loginId-help" pInputText />
        </div>
        <div class="form_btn">
              <label class="container">
                <input type="radio" name="radio">
                WCS
                <span class="checkmark"></span>
              </label>
              <label class="container">
                <input type="radio" name="radio">
                MSPRP
                <span class="checkmark"></span>
              </label>
              <label class="container">
                <input type="radio" name="radio">
                CRCP
                <span class="checkmark"></span>
              </label>              
        </div>
    </div>




    <p class="sub_text">
        <font><strong>NOTE: If a value is entered in both the Account ID and EIN fields, the query will use the Account ID.
            To process the EIN query only, enter a value in the EIN field. </strong></font>
    </p>


    <button style="margin-right : 10px;" class="usa-button p-button-sm" (click)="onContinue()">Continue</button>
    <button (click)="onCancel()" class="usa-button p-button-sm bg-secondary">Cancel</button>

</div>
