<div>

    <p class="sub_text">
        <font><strong>NOTE: Clicking on the Submitter ID links on this screen, you will transfer to the Account
                Inofrmation page,
                which will display the WCMSAP/MSPRP Account contact information.</strong></font>
    </p>

    <h3 class="heading_color">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam debitis fuga vel
        aspernatur dolores distinctio quisquam autem tempora? Ea eius dignissimos quibusdam cupiditate </h3>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui atque quia sit totam unde ea harum quam in,
        recusandae delectus, illo cum </p>

    <p class="sub_text">
    <h3 class="heading_color">Lorem ipsum dolor, sit amet consectetur adipisi </h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui atque quia sit totam unde ea harum quam in,
        recusandae delectus, illo cum </p>

    <p class="sub_text"> <strong class="color_red">IMPORTANT:<span class="color_red"> Prior to processing a request,
                you must follow the</span> <span class="color_blue"> BCRC Secure Web Site Authentication Guidelines for
                EDI Representatives.
            </span></strong> </p>



    <div class="searchForm">
        <div class="field grid-col-3">
            <label for="loginEmail" class="block">Account ID</label>
            <input class="usa-input" id="loginEmail" type="text" aria-describedby="loginEmail-help" pInputText />
        </div>
        <p-divider layout="vertical" class="vertical-spacer">
            <b>OR</b>
        </p-divider>
        <div class="field grid-col-3">
            <label for="loginId" class="block">EIN</label>
            <input class="usa-input" id="loginId" type="password" aria-describedby="loginId-help" pInputText />
        </div>
        <div class="form_btn">
              <label class="container">
                <input type="radio" name="radio">
                Three
                <span class="checkmark"></span>
              </label>
              <label class="container">
                <input type="radio" name="radio">
                Three
                <span class="checkmark"></span>
              </label>
              <label class="container">
                <input type="radio" name="radio">
                Four
                <span class="checkmark"></span>
              </label>              
        </div>
    </div>




    <p class="sub_text">
        <font><strong>NOTE: Clicking on the Submitter ID links on this screen, you will transfer to the Account
                Inofrmation page,
                which will display the WCMSAP/MSPRP Account contact information.</strong></font>
    </p>


    <button style="margin-right : 10px;" class="usa-button p-button-sm" (click)="onContinue()">Continue</button>
    <button (click)="onCancel()" class="usa-button p-button-sm bg-secondary">Cancel</button>

</div>