<div>
    <h3 class="heading_color"> Unlock Pin</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate ratione sequi dicta eaque quae molestiae
        commodi in harum, nesciunt saepe </p>

    <ol>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate ratione sequi dicta eaque quae molestiae
            commodi in harum, nesciunt saepe</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate ratione sequi dicta eaque quae molestiae
            commodi in harum, nesciunt saepe</li>
    </ol>
    <p class="sub_text">
        <font><strong>NOTE: CLicking on the Submitter ID links on this screen, you will transfer to the Account
                Inofrmation page,
                which will display the WCMSAP/MSPRP Account contact information.</strong></font>
    </p>

    <p class="sub_text">
        <font><strong>CLicking on the Submitter ID links on this screen, you will transfer to the Account Inofrmation
                information.</strong></font>
    </p>



    <div>
        <table class="custom_table">

            <tr>
                <td><strong>Account Id:</strong> 29323</td>
                <td><strong>EIN:</strong> 237129072</td>
                <td><strong>PIN:</strong> 4321</td>
                <td><strong>PIN Status:</strong> Unlocked</td>
                <td><strong>Submitter Status:</strong> Active</td>
            </tr>
        </table>

        <div class="user_table">
            <table>
                <tr>
                    <th>Account Contact Info</th>
                </tr>

                <!-- <tr >
                    <td colspan="5" class="text-center">No Submitters found </td>
                </tr> -->
                <tr>
                    <td style="width: 25%;">
                        Rep Account
                        <br /> one west penisa fjk
                        <br /> Rowms :- 517112
                    </td>
                </tr>

            </table>
        </div>

    </div>


    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <strong>Unlock Pin</strong> Distinctio cum doloribus
        <strong>Cancel</strong>
        voluptas at
    </p>


    <div>
        <button>Unlock Pin</button>
        <button class="cancel_btn" (click)="onCancel()">Cancel</button>
    </div>
</div>