<footer class="usa-footer usa-footer-slim" role="contentinfo">
  <br>
  <div class="grid-container">
    <i class="pi pi-lock"></i>
    SECURE AREA
  </div>
  <div class="usa-footer__primary-section">
    <div id="footerLinks">
      <ul class="nav">
        <li><a class="usa-footer__primary-link" [routerLink]="" appPopUp [url]="privacyPolicy" title="Link opens in a new window.">Privacy Policy</a></li>
        <li><a class="usa-footer__primary-link" [routerLink]="" appPopUp [url]="userAgreement" title="Link opens in a new window.">User Agreement</a></li>
        <li><a class="usa-footer__primary-link" [routerLink]="" appPopUp [url]="accessibility" title="Link opens in a new window.">Accessibility</a></li>
      </ul>
    </div>
  </div>

  <div class="usa-footer__secondary-section">
    <div class="grid-row">
      <div class="usa-footer__logo">
        <img class="usa-footer__logo-img" src="assets/img/edi/hhslogo.png" alt="CMS Image">
      </div>
      <span class="rds-footer-right">
        Approved OMB-0938-0957 Form CMS-10156&nbsp;<BR/>Approved OMB-0938-0977 Form CMS-10170&nbsp;
      </span>
    </div>
  </div>
</footer>
