.headRow {
  margin-top: 1em;
  margin-bottom: 1em;
}

#focusSwitch:focus {
  outline: transparent;
}

span i {
  margin-left: -0.5em;
  margin-right: 0.5em
}

.usa-alert--info {
  background-image: none;
  margin-left: 1rem;
}

.usa-alert ul {
  margin-top: 0;
}

.pw-guide-title {
  margin-top: 0;
}

.guide-rule{
  display: block;
}
