<h2>{{title}}</h2>

<app-error-messages [messages]="errorMsgs"></app-error-messages>

<div class="grid-container no-left-margin" id="focusSwitch" tabindex="0" (focus)="onFocus($event)">
  <div class="grid-col-4">
    <form [formGroup]="loginPassForm" (ngSubmit)="submit()">
      <div class="row">
        <app-rds-input formControlName="loginId" #loginIdEl label="* Login ID" id="loginId"
                       type="text" maxLength="15" size="15" (blur)="onBlur($event)" describedby="loginRules">
        </app-rds-input>
      </div>
      <div class="row">
        <app-rds-input formControlName="password" label="* Password" id="password"  type="password" maxLength="14" size="17"
                       (blur)="onBlur($event)" describedby="passwordRules" autocomplete="off">
        </app-rds-input>
      </div>
      <div class="row">
        <app-rds-input formControlName="rePassword" #passReEl label="* Re-enter Password" id="passwordReentered"
                       type="password" maxLength="14" size="17" (blur)="onBlur($event)" (keydown.tab)="onTab($event)" autocomplete="off">
        </app-rds-input>
      </div>
      <br>
      <div class="sameline-block">
        <input class="usa-button" type="submit" name="action" value="Continue" #continueButton>
        <input class="usa-button" type="button" name="action" value="Cancel" (click)="back()">
      </div>
    </form>
  </div>
  <div class="grid-col-8">
    <div class="usa-alert  usa-alert--info" tabindex="0" #loginPassGuidelines (keydown.shift.tab)="onShiftTab($event)" id="logPassGuides">
      <h4 class="pw-guide-title">Login and Password Guidelines</h4>
      <div id="validate-code" class="myChecklist">
        <div id="passwordRules">
          <span class="guide-rule"><i class="pi pi-minus" #passChar></i>Password must be 8 to 14 characters.</span>
          <span class="guide-rule"><i class="pi pi-minus" #passBegin></i>Password must begin with a letter.</span>
          <span class="guide-rule"><i class="pi pi-minus"></i>Password must include each of the following:</span>
          <span class="guide-rule">
            <ul class="mychecklist">
              <span class="guide-rule"><i class="pi pi-minus-circle" #pass1LowCase></i>1 - Lowercase letter</span>
              <span class="guide-rule"><i class="pi pi-minus-circle" #pass1UpCase></i>1 - Uppercase letter</span>
              <span class="guide-rule"><i class="pi pi-minus-circle" #pass1Number></i>1 - Number</span>
              <span class="guide-rule"><i class="pi pi-minus-circle" #pass1SpChar></i>1 - Special character</span>
            </ul>
          </span>
          <span class="guide-rule"><i class="pi pi-minus" #passNoLogin></i>Password cannot contain the Login ID.</span>
          <span class="guide-rule"><i class="pi pi-minus" #passNoReserved></i>Password cannot contain a reserved word. For more
            information, go to: <a id="reservedWords"
                                   [href]="environmentUrl+'/?q=user-guide/reserved-words-list'"
                                   title="Link opens in a new window."
                                   (keydown.tab)="onTab($event)" (keydown.shift.tab)="onShiftTab($event)"
                                   target="_blank">Reserved Words List</a></span>
          <span class="guide-rule"><i class="pi pi-minus" #passNoDictionary></i>Password cannot be a dictionary word or name.</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<p>Click <strong>Continue</strong> to change your Password. Click <strong>Cancel</strong> to exit this process.</p>-->
<p-dialog header="Email Success" [(visible)]="showConfirmation" modal="modal" width="900" [focusOnShow]="false"
          descriptionId="dialogConfirmId" [baseZIndex]="10000" (onHide)="closeDialog()">
  <div class="flex-container flex-center wrap">
    <div class="flex-item">
      <i class="pi pi-check-circle confirm-check-icon"></i>
    </div>
    <div class="flex-item message">
      Your Password was changed successfully. You will be required to use your new Password the next time you access the EDI Website.
    </div>
  </div>
  <ng-template pTemplate="footer">
    <button class="usa-button" type="button" pButton (click)="closeDialog()" label="Continue">Exit</button>
  </ng-template>
</p-dialog>
