<div>
    <h3 class="heading_color"> Change Authorized Representative Query</h3>


    <p>From this screen, you can update personal information for an existing Authorized Representative or replace an existing Authorized Representative
        with a different person. You have the option to query by RRE ID or user E-mail Address for the Authorized Representative you wish to change 
        or replace. 
    </p>

    <p class="sub_text">
    <p>To change the Authorized Representative, enter either the RRE ID or the E-mail address of the Authorized Representative you wish to 
        change and select the appropriate link.
    </p>

    <p class="sub_text"> <strong class="color_red">IMPORTANT:<span class="color_red"> Prior to processing a request,
                you must follow the</span> <span class="color_blue"> COBSW Authentication Guidelines <span class="color_red">to verify 
                the authority of the Requester for each EIN submitted or associated with this request. </span>
            </span></strong> </p>



    <div class="searchForm">
        <div class="field grid-col-3">
            <label for="rreId" class="block">RRE ID</label>
            <input class="usa-input" id="rreId" type="text" aria-describedby="loginEmail-help" pInputText [(ngModel)]="rreId"/>
        </div>
        <p-divider layout="vertical" class="vertical-spacer">
            <b>OR</b>
        </p-divider>
        <div class="field grid-col-3">
            <label for="loginId" class="block">E-Mail Address</label>
            <input class="usa-input" id="loginId" type="password" aria-describedby="loginId-help" pInputText />
        </div>

    </div>



    <p>To update personal information for an existing Authorized Representative select the  <strong> Update </strong> button. </p>
    <p>To replace an existing Authorized Representative for one or more RRE's select the <strong> Replace  </strong> button. </p>


    <button style="margin-right : 10px;" class="usa-button p-button-sm" (click)="onUpdate()">Update</button>
    <button style="margin-right : 10px;" class="usa-button p-button-sm" (click)="onReplace()">Replace</button>
    <button (click)="onCancel()" class="usa-button p-button-sm bg-secondary">Cancel</button>

    <p class="sub_text color_red">
        <font><strong>NOTE: If the value is entered in the RRE field AND the E-mail field, the query to process the RRE will be processed.
            To process the E-mail query only enter a value in the E-mail field. 
        </strong></font>
    </p>

</div>
