<div *ngIf="!loadPage"> 
    <div class="top_container">
        <h3 class="con_header">User Access Lookup</h3>
        <p class="form_heading">Enter the user's e-mail address or user ID and select <strong>Continue</strong></p>
        <form class="con_form">
            <div>
                <label for="lname">Enter email address</label>
                <br />
                <input type="text">
            </div>
            &nbsp;&nbsp;
            &nbsp;&nbsp;
            <p class="or_class">Or</p>
            &nbsp;&nbsp;
            &nbsp;&nbsp;
            <div class="login_field">
                <label for="lname">Login ID</label>
                <br />
                <input type="text">
            </div>

        </form>
        <div class="form_btn">
            <button (click)="onContinue()">Continue</button>
        </div>
    </div>

    <div *ngIf="isContinue">
        <!-- user info  -->
        <app-user-information></app-user-information>
        <!--user table  -->
        <app-user-table></app-user-table>

        <div class="buttom_action_btn">
            <button style="margin-right : 10px;">Reset Password</button>
            <button style="margin-right : 10px;" (click)="onSetOpen('unlock-user-account')">Unlock User Account</button>
            <button style="margin-right : 10px;" (click)="onRedirect('confirm-reactivate')">Reactivate User
                Account</button>
            <button style="margin-right : 10px;" (click)="onSetOpen('id-proofing')">ID Proof User</button>
            <button style="margin-right : 10px;" (click)="onSetOpen('restart-id-proofing')"> Restart ID
                Proofing</button>
            <button style="margin-right : 10px;" (click)="onRedirect('resend-token')">Send Token</button>
        </div>

    </div>
</div>

<div *ngIf="loadPage == 'confirm-reactivate'">
        <h1 class="heading_color"> Confirm Reactivate Login ID</h1>
        <p class="sub_text"><font color= #0d0f7c><strong>INFORMATION: If the Reactivate function is used the user must login to the system with their 
            current password. If the user does not know their current password, the Reset function should be used instead. The Reset
            function will allow you to set a temporary password to be used at the next login attempt. </strong></font></p>
    
        <p class="sub_text">Are you sure you want to reactivate the Login ID ? </p>
    
        <button style="margin-right : 10px;" (click)="onSetOpen('confirm-reactivate')">Yes</button>
        <button (click)="onCancel()">Cancel</button>
</div>

<div *ngIf="loadPage == 'resend-token'">
    <h1 class="heading_color">Resend Token URL Email</h1>
    <p class="color_danger">*Required</p>

    <div class="left_user_sub_info">
        <table>
            <tr>
                <th>First Name:</th>
                <td>Jack</td>
            </tr>
            <tr>
                <th>Last Name:</th>
                <td>Test</td>
            </tr>
            <tr>
                <th>E-mail Address:</th>
                <td>test@gamil.com</td>
            </tr>

            <tr>
                <th>Status:</th>
                <td>Pending</td>
            </tr>
        </table>
    </div>


    <div class="user_table">
        <h2><font size=-1>Associated with this Account Manager</font></h2>
        <table>
            <tr>
                <th>Account/RRE ID</th>
                <th>Company Name</th>
            </tr>
            <tr>
                <td>60787</td>
                <td>TESTING NGHP RESTFUL</td>
            </tr>
        </table>
    </div>

    <div class="resend_form">
        <table>
            <tr>
                <th>Pass Phrase:<span class="color_danger">*</span></th>
                <td><input type="text" /></td>
            </tr>
            <tr>
                <th>Re-enter Pass Phrase:<span class="color_danger">*</span></th>
                <td><input type="text" /></td>
            </tr>
        </table>
    </div>
    <button style="margin-right : 10px;" (click)="onSetOpen('resend-token')">Yes</button>
    <button (click)="onCancel()">Cancel</button>
</div>

<app-dashboard-model *ngIf="isOpen" (onCloseModel)="onCloseModel()" [infoMsg]="infoMsg">
</app-dashboard-model>