<div id="agree" tabindex="0">
  <h2>User Agreement and Privacy Policy</h2>
  <p>THE FOLLOWING DESCRIBES THE TERMS AND CONDITIONS ON WHICH THE CENTERS FOR MEDICARE &amp; MEDICAID SERVICES (CMS)
    OFFERS YOU ACCESS TO CMS' RDS CENTER'S SECURE WEB SITE.</p>
  <p> You must read and accept the terms and conditions contained in this User Agreement expressly set out below and
    incorporated by reference before you may access the EDI Web Site.
  </p>
  <p>CMS' RDS Center may amend this User Agreement at any time. Except as stated below,
    all amended terms shall automatically be effective 30 days after they are initially posted on the Site. This User
    Agreement is effective immediately. </p>
  <h3>1. Purpose of the EDI Web Site </h3>
  <p>CMS has recently published the final
    regulations for Title I and Title II of the Medicare Prescription Drug, Improvement, and Modernization Act of 2003
    (MMA). Title I and its implementing regulations at 42 C.F.R 423 Subpart R contain the provisions governing the
    EDI (RDS) option designed to assist employers, unions, and other Plan Sponsors that continue to
    provide high quality prescription drug coverage to their retirees.</p>
  <p>The EDI Web Site provides Plan Sponsors with the resources
    required to become a participant in the RDS Program, including specific
    instructions and assistance during the application period and afterward. </p>
  <h3>2. Privacy Policy</h3>
  <p>The U.S. Department of Health and Human Services (HHS) of which the EDI Web Site is a part, has a clear
    privacy policy. When you access the EDI Web Site, we collect the
    minimum amount of information about you necessary to process your application for the RDS Program and to manage your account. </p>
  <h3>Information Automatically Collected and Stored</h3>
  <p>When you browse through any web site, certain personal information about you can be collected. We automatically
    collect and temporarily store the following information about your visit: </p>
  <ul>
    <li>the name of the domain you use to access the Internet (for example, aol.com, if you are using an America
      Online account, or stanford.edu, if you are connecting from Stanford University's domain)
    </li>
    <li>the date and time of your visit</li>
    <li>the pages you visited</li>
    <li>the address of the web site you came from when you came to visit</li>
  </ul>
  <p>This information is used for statistical purposes only and to help us make this site more useful to visitors.
    Unless it is specifically stated otherwise, no additional information will be collected about you. </p>
  <p><strong>Information Collected to Process Applications and Manage Accounts Through the EDI Web
    Site</strong></p>
  <p>When you apply for the RDS Program through the EDI Web Site, we will collect personal information necessary to
    validate participants, and to process and manage the application. The authority to collect this information is
    granted by 1860D-22 of the Social Security Act and CMS' RDS
    implementing regulations at 42 C.F.R. 423 Subpart R, as well as the Debt Collection Improvement Act of 1996 at 31
    U.S.C. 7701(c) and the Federal Privacy Act at 5 U.S.C. 552a. This may include your name, address, telephone and
    fax numbers, e-mail address, social security number, drivers license photocopy, Federal Employer Identification
    Number (FEIN), banking information or other payment information. Provision of this information is mandatory for
    participation in the RDS Program. CMS' RDS Center may also collect a password and
    password hint for each participant accessing the EDI Web Site. We
    use this information to verify participants' identities in order to prevent unauthorized access to secure EDI Web Site accounts. </p>
  <p>CMS' RDS Center staff has role-based access to this information, and use only the
    information minimally necessary to accomplish their jobs. </p>
  <p>The personal information you provide is encrypted and sent to us using a secure method, in order to assure that
    your personal information is securely and safely transmitted. However, no one can give an absolute assurance that
    information intended to be maintained as private, whether transmitted via the Internet or otherwise, cannot be
    accessed inappropriately or unlawfully by third parties. We have taken and will continue to take reasonable steps
    to ensure the secure and safe transmission of your personal information. </p>
  <p><strong>Personally Provided Information</strong></p>
  <p> If you are not involved with the submission or management of an RDS
    Program application on the EDI Web Site, you do not have to give
    us personal information. If you choose to provide us with additional information about yourself through e-mail,
    forms, surveys, etc., we will maintain the information as long as needed to respond to your question or to fulfill
    the stated purpose of the communication. </p>
  <p><strong>Disclosure</strong></p>
  <p>HHS and CMS do not disclose, give, sell or
    transfer any personal information about its visitors, unless required for law enforcement or statute. </p>
  <p><strong>Intrusion Detection</strong></p>
  <p>The RDS Web Sites are maintained by the U.S. Government. It is
    protected by various provisions of Title 18, U.S. Code. Violations of Title 18 are subject to criminal prosecution
    in Federal court.</p>
  <p>For site security purposes and to ensure that this service remains available to all participants, we employ
    software programs to monitor traffic to identify unauthorized attempts to upload or change information, or
    otherwise cause damage. In the event of authorized law enforcement investigations, and pursuant to any required
    legal process, information from these sources may be used to help identify an individual. </p>
  <h3>3. Systems of Records</h3>
  <p>Information originally collected in traditional paper systems can be submitted electronically, i.e., electronic
    commerce transactions and information updates about eligibility benefits. Electronically submitted information is
    maintained and destroyed pursuant to the Federal Records Act and in some cases may be subject to the Privacy Act.
    If information that you submit is to be used in a Privacy Act system of records, there will be a Privacy Act
    Notice provided.</p>
  <h3>4. Links</h3>
  <p>References from RDS web sites to any non-governmental entity, product,
    service or information do not imply endorsement or recommendation by CMS, HHS or any other HHS agency or employees. </p>
  <p>We are not responsible for the contents of any &quot;off-site&quot; web pages referenced from this server. We do
    not endorse ANY specific products or services provided by public or private organizations. In addition, we do not
    necessarily endorse the views expressed by such sites, nor do we warrant the validity of any site's information or
    its fitness for any particular purpose. </p>
  <h3>5. Pop-up Advertisements</h3>
  <p>When visiting RDS web sites, your web browser may produce pop-up
    advertisements. These advertisements were most likely produced by other web sites you visited or by third party
    software installed on your computer. CMS does
    not endorse or recommend products or services for which you may view a pop-up advertisement on your computer
    screen while visiting our site. </p>
  <h3>6. Outdated Information </h3>
  <p>Many HHS/CMS documents are time sensitive.
    Department policies change over time. Information in older documents may be outdated. You also may wish to review
    our Privacy Policy in section 2. </p>
  <h3>7. Accessibility </h3>
  <p>This page provides information for those visitors who use assistive or other devices to access the content on the
    RDS web sites. Please see Contact Us at
    http://cob.cms.hhs.gov/contact/default.htm if you have general questions and comments or have difficulty finding
    something on this site. </p>
  <p><strong>Synopsis of Section 508 Accessibility Requirements</strong></p>
  <p>The Centers for Medicare &amp; Medicaid Services (CMS') EDI (RDS) Program is committed to making
    all RDS Web Sites accessible to the widest possible audience, including
    individuals with disabilities. In keeping with its mission, the RDS Center complies with the regulations of
    Section 508 of the Rehabilitation Act and the Department of Health &amp; Human Services (HHS) Section 508
    Implementation Policy. The information contained within the RDS Web
    Sites are intended to be accessible through screen readers and other accessibility tools. If alternative means of
    access to any information contained on RDS Web Sites are needed, or
    interpreting any information proves difficult, please contact the RDS
    Help Line. Call (877) RDS-HELP or (877) 737-4357. TTY for hearing impaired: (877) RDS-TTY0, or (877) 737-8890.
    E-mail rds@cms.hhs.gov. In an e-mail, please indicate the nature of the accessibility problem including the
    accessibility tool and web browser used, the web page address that is causing difficulty, contact name, e-mail
    address, and phone number. Please do not include any Protected Health Information (PHI), as defined in the Health
    Insurance Portability and Accountability Act (HIPAA), in the e-mail. </p>
  <h3>8. Freedom of Information Act (FOIA) </h3>
  <p>The RDS Web Sites are a service of the U.S. Department of Health and
    Human Services. Any Freedom of Information Act (FOIA) requests concerning the RDS
    Web Sites should be submitted in accordance with the Department's FOIA guidelines. Information on making FOIA
    requests is available at the Freedom of Information Group page. You also may wish to review our Privacy Policy in
    Section 2. </p>
</div><!-- This was originally in document-->
