<div>
    <h3 class="heading_color">Account Information</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore consectetur voluptas impedit labore, quam iste,
        doloribus deleniti.</p>
    <p class="sub_text">
        <font><strong>INFORMATION: If the Reactivate function is used the user must login to the system with their
                current password.</strong></font>
    </p>

    <div>
        <table class="custom_table">

            <tr>
                <td><strong>Account Id:</strong> 29323</td>
                <td><strong>Account Id:</strong> 29323</td>
                <td><strong>Account Id:</strong> 29323</td>
                <td><strong>Account Id:</strong> 29323</td>
                <td><strong>Account Id:</strong> 29323</td>
            </tr>
        </table>
        <div class="user_table">
            <table>
                <tr>
                    <th>Account Contact Information</th>
                    <th>Actions</th>
                </tr>

                <!-- <tr>
                    <td colspan="5" class="text-center">No Submitters found </td>
                </tr> -->
                <tr>
                    <td>IUOEP
                        <br />
                        test@gamil.com

                        <div class="account_infoo">
                            <h4>Account/Authorization Representative (AR)</h4>
                            <table class="custom_table_2">
                                <tr>
                                    <td><strong>First Name:</strong> test</td>
                                    <td><strong>MI:</strong> 29323</td>
                                    <td><strong>Last Name:</strong> 29323</td>
                                </tr>
                            </table>
                            <table class="custom_table_2">
                                <tr>
                                    <td><strong>Email:</strong> test</td>
                                </tr>
                            </table>
                            <table class="custom_table_2">
                                <tr>
                                    <td><strong>Phone:</strong> test</td>
                                    <td><strong>ext:</strong> 29323</td>
                                </tr>
                            </table>
                        </div>
                        <div class="account_infoo">
                            <h4>Account/Authorization Representative (AR)</h4>
                            <table class="custom_table_2">
                                <tr>
                                    <td><strong>First Name:</strong> test</td>
                                    <td><strong>MI:</strong> 29323</td>
                                    <td><strong>Last Name:</strong> 29323</td>
                                </tr>
                            </table>
                            <table class="custom_table_2">
                                <tr>
                                    <td><strong>Email:</strong> test</td>
                                </tr>
                            </table>
                            <table class="custom_table_2">
                                <tr>
                                    <td><strong>Phone:</strong> test</td>
                                    <td><strong>ext:</strong> 29323</td>
                                </tr>
                            </table>
                        </div>

                        <div class="account_infoo">
                            <h4>Go Paperless Information</h4>
                            <p><strong>Go Paperless:</strong> No</p>
                        </div>

                    </td>
                    <td>
                        <select name="cars" id="cars">
                            <option value="volvo">Select one</option>
                            <option value="saab">Saab</option>
                            <option value="mercedes">Mercedes</option>
                            <option value="audi">Audi</option>
                        </select>
                        <button>Go</button>
                    </td>
                </tr>

            </table>
        </div>

    </div>





    <button class="action_btn" (click)="onCancel()">Cancel</button>
</div>