<div class="main-container">
    <h2>{{ isEDI ? 'Change Password' : 'Reset User Password' }}</h2>
    <h5>Choose your password carefully</h5>
    <div class="information">
        <ul>
            <li>Password must be changed every sixty (60) days.</li>
            <li>Password must contain at least fifteen (15) characters.</li>
            <li>Password must contain at least one uppercase letter, one lowercase letter, one number, and one special character.</li>
            <li>Password must contain a minimum of four (4) changed characters from the previous password.</li>
            <li>Password cannot be changed more than once per day.</li>
            <li>Password must be different from the previous twenty-four (24) passwords.</li>
            <li>Password cannot contain a reserved word. (<span><a (click)="toggleModal()">Show List</a></span>)</li>
        </ul>
    </div>
    <div class="password-inputs">
        <!-- CHANGE PASSWORD -->
        <ng-container *ngIf="isEDI">
            <div class="field">
                <label for="currentPassword" class="block">Enter Current Password</label>
                <input id="currentPassword" type="password" aria-describedby="currentPassword-help" pInputText [(ngModel)]="currentPassword" />
            </div>
            <div class="field">
                <label for="newPassword1" class="block">Enter New Password</label>
                <input id="newPassword1" type="password" aria-describedby="newPassword1-help" pInputText [(ngModel)]="newPassword1" />
            </div>
            <div class="field">
                <label for="newPassword2" class="block">Re-enter New Password</label>
                <input id="newPassword2" type="password" aria-describedby="newPassword2-help" pInputText [(ngModel)]="newPassword2" />
            </div>
        </ng-container>
        <!-- USER PW RESET -->
        <ng-container *ngIf="!isEDI">
            <div class="field">
                <label for="newPassword1" class="block">Enter User's New Password</label>
                <input id="newPassword1" type="password" aria-describedby="newPassword1-help" pInputText [(ngModel)]="newPassword1" />
            </div>
            <div class="field">
                <label for="newPassword2" class="block">Re-enter User's New Password</label>
                <input id="newPassword2" type="password" aria-describedby="newPassword2-help" pInputText [(ngModel)]="newPassword2" />
            </div>
        </ng-container>
    </div>

    <div class="button-row">
        <button class="usa-button" (click)="toggleSuccessModal()" [disabled]="disableSubmit()" title="Submit password change request.">Submit</button>
        <button class="usa-button bg-secondary" (click)="cancel()">Cancel</button>
      </div>
    
</div>

<p-dialog header="Reserved Words" [(visible)]="showReservedWords" [modal]="true" [style]="{width: '65vw'}" [baseZIndex]="10000">
    <p>{{reservedWords}}</p>
    <ng-template pTemplate="footer">
      <button class="usa-button" (click)="toggleModal()">Close</button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="showSuccessModal" [modal]="true" header="{{ isEDI ? 'Change Password Successful' : 'User Password Reset Successful' }}" [baseZIndex]="10000">
    <div style="margin: 36px; font-size: 18px;">{{ isEDI ? ediSuccessMsg : successMsg }}</div>
    <ng-template pTemplate="footer">
      <button class="usa-button" (click)="toggleSuccessModal()">Close</button>
    </ng-template>
</p-dialog>