<h3 class="heading_color">Authorized Representative Info</h3>
<p> Provide contact information for the Authorized Representative (AR) for the RRE ID you are requesting. </p>
<p>Your Authorized Representative is the individual in the RRE organization who has the legal authority to bind the organization to a contract and the terms of Section 111 requirements and processing. </p>
<p>The AR named below cannot obtain a Login ID for the COBSW. </p>
<p>An <span class="color_red">*</span> indicates a <span class="color_red" id="reqField">required field</span>.</p>

<form #arInfoForm="ngForm" (ngSubmit)="continue(arInfoForm.value)">
  <div class="panel-wrapper">
      <p-panel header="Contact Information">
        <div class="grid-col-6 field">
          <label for="firstName" class="block">First Name <span class="color_red">*</span></label>
          <input
            required
            #firstNameTag="ngModel"
            id="firstName"
            name="firstName"
            [(ngModel)]="authorizedRep.firstName"
            aria-describedby="firstName-help"
            class="usa-input"
            type="text"
            pInputText
          />
          <ng-container *ngIf="(firstNameTag.touched || firstNameTag.dirty) && firstNameTag.invalid">
            <div *ngIf="firstNameTag.errors?.['required']" class="grid-col-6 field" style="color: red">
              First Name is required
            </div>
          </ng-container>
        </div>
        <div class="grid-col-6 field">
          <label for="lastName">Last Name <span class="color_red">*</span></label>
          <input
            required
            #lastNameTag="ngModel"
            id="lastName"
            name="lastName"
            [(ngModel)]="authorizedRep.lastName"
            aria-describedby="lastName-help"
            class="usa-input"
            type="text"
            pInputText
          />
          <ng-container *ngIf="(lastNameTag.touched || lastNameTag.dirty) && lastNameTag.invalid">
            <div *ngIf="lastNameTag.errors?.['required']" class="grid-col-6 field" style="color: red">
              Last Name is required.
            </div>
          </ng-container>
        </div>
        <div class="grid-col-6 field">
          <label for="jobTitle">Job Title <span class="color_red">*</span></label>
          <input
            required
            #jobTitleTag="ngModel"
            id="jobTitle"
            name="jobTitle"
            [(ngModel)]="authorizedRep.jobTitle"
            aria-describedby="jobTitle-help"
            class="usa-input"
            type="text"
            pInputText
          />
          <ng-container *ngIf="(jobTitleTag.touched || jobTitleTag.dirty) && jobTitleTag.invalid">
            <div *ngIf="jobTitleTag.errors?.['required']" class="grid-col-6 field" style="color: red">
              Job Title is required.
            </div>
          </ng-container>
        </div>
        <br/>
        <div class="user-info">
          <div class="grid-col-2">Email Address: </div>
          <div class="grid-col-6">{{ authorizedRep.email }}</div>
        </div>
      </p-panel>
      <p-panel header="Mailing Address">
        <div class="grid-col-6 field">
          <label for="streetLine1" class="block">Street Line 1 <span class="color_red">*</span></label>
          <input
            required
            #streetLine1Tag="ngModel"
            id="streetLine1"
            name="streetLine1"
            [(ngModel)]="authorizedRep.address.streetLine1"
            aria-describedby="streetLine1-help"
            class="usa-input"
            type="text"
            pInputText
          />
          <ng-container *ngIf="(streetLine1Tag.touched || streetLine1Tag.dirty) && streetLine1Tag.invalid">
            <div *ngIf="streetLine1Tag.errors?.['required']" class="grid-col-6 field" style="color: red">
              Street Line 1 is required.
            </div>
          </ng-container>
        </div>
        <div class="grid-col-6 field">
          <label for="streetLine2" class="block">Street Line 2</label>
          <input
            required
            #streetLine2="ngModel"
            id="streetLine2"
            name="streetLine2"
            [(ngModel)]="authorizedRep.address.streetLine2"
            aria-describedby="streetLine2-help"
            class="usa-input"
            type="text"
            pInputText
          />
        </div>

        <div class="grid-col-12 field">
          <label for="city" class="block">City, State, Zipcode <span class="color_red">*</span></label>
          <div  class="multi_inputs">

            <input
              required
              #cityTag="ngModel"
              id="city"
              name="city"
              [(ngModel)]="authorizedRep.address.city"
              aria-describedby="city-help"
              class="usa-input"
              type="text"
              pInputText
            />
            <span class="underScore" style="margin-right : 3px;">,</span>
            <p-dropdown
              required
              #stateTag="ngModel"
              id="state"
              name="state"
              [options]="stateList.states"
              [(ngModel)]="authorizedRep.address.state"
              placeholder="Select a State"
              optionLabel="name"
              optionValue="code"
              aria-describedby="state-help"
              >
            </p-dropdown>
            <span class="underScore" style="margin-right : 3px;">,</span>

            <p-inputMask
              required
              #zipcodeTag="ngModel"
              id="zipcode"
              name="zipcode"
              mask="99999-?9999"
              [(ngModel)]="zip10"
              aria-describedby="zipcode-help"
              placeholder="99999-?9999">
            </p-inputMask>
          </div>
          <ng-container *ngIf="(cityTag.touched || cityTag.dirty) && cityTag.invalid">
            <div *ngIf="cityTag.errors?.['required']" class="grid-col-6 field" style="color: red">
              City is required.
            </div>
          </ng-container>
          <ng-container *ngIf="(stateTag.touched || stateTag.dirty) && stateTag.invalid">
            <div *ngIf="stateTag.errors?.['required']" class="grid-col-6 field" style="color: red">
              State is required.
            </div>
          </ng-container>
          <ng-container *ngIf="(zipcodeTag.touched || zipcodeTag.dirty) && zipcodeTag.invalid">
            <div *ngIf="zipcodeTag.errors?.['required']" class="grid-col-6 field" style="color: red">
              Zipcode is required.
            </div>
          </ng-container>
        </div>
        <div class="grid-col-6 field">
          <label for="phone" class="block">Phone<span class="color_red">*</span></label>
          <div  class="multi_inputs">
            <p-inputMask
              required
              #phoneTag="ngModel"
              id="phone"
              name="phone"
              mask="(999) 999-9999? x99999"
              [(ngModel)]="phoneExtn"
              placeholder="(999) 999-9999? x99999">
            </p-inputMask>
          </div>
          <ng-container *ngIf="(phoneTag.touched || phoneTag.dirty) && phoneTag.invalid">
            <div *ngIf="phoneTag.errors?.['required']" class="grid-col-6 field" style="color: red">
              Phone is required.
            </div>
          </ng-container>
        </div>

        <div class="grid-col-6 field">
          <label for="fax" class="block">Fax<span class="color_red">*</span></label>
          <div  class="multi_inputs">
            <p-inputMask
              required
              #faxTag="ngModel"
              id="fax"
              name="fax"
              mask="(999) 999-9999"
              [(ngModel)]="authorizedRep.fax"
              placeholder="(999) 999-9999">
            </p-inputMask>
          </div>
          <ng-container *ngIf="(faxTag.touched || faxTag.dirty) && faxTag.invalid">
            <div *ngIf="faxTag.errors?.['required']" class="grid-col-6 field" style="color: red">
              Fax is required.
            </div>
          </ng-container>
        </div>

      </p-panel>
  </div>
  <div class="grid-col-6 field">
    <div class="form_btn_continue">
      <button class="usa-button" type="submit" [disabled]="arInfoForm.invalid">Continue</button>
      <button class="usa-button p-button-sm bg-secondary" (click)="cancel()"> Cancel </button>
    </div>
  </div>

</form>
