<h3 class="heading_color">Authorized Representative Info</h3>
<p> Provide contact information for the Authorized Representative (AR) for the RRE ID you are requesting. </p>
<p>Your Authorized Representative is the individual in the RRE organization who has the legal authority to bind the organization to a contract and the terms of Section 111 requirements and processing. </p>
<p>The AR named below cannot obtain a Login ID for the COBSW. </p>
<p>An <span class="color_red">*</span> indicates a <span class="color_red" id="reqField">required field</span>.</p>

<form #arInfoForm="ngForm" (ngSubmit)="continue(arInfoForm.value)">
  <div class="panel-wrapper">
      <p-panel header="Contact Information">
        <div class="grid-col-6 field">
          <label for="firstName" class="block">First Name <span class="color_red">*</span></label>
          <input
            required
            #firstName="ngModel"
            id="firstName"
            name="firstName"
            [(ngModel)]="authorizedRep.firstName"
            aria-describedby="firstName-help"
            class="usa-input"
            type="text"
            pInputText
          />
          <div class="alert alert-danger" *ngIf="(firstName.touched || firstName.dirty) && firstName.invalid">
            <div *ngIf="firstName.errors.required"><span class="color_red">First Name is required.</span></div>
          </div>
        </div>
        <div class="grid-col-6 field">
          <label for="lastName">Last Name <span class="color_red">*</span></label>
          <input
            required
            #lastName="ngModel"
            id="lastName"
            name="lastName"
            [(ngModel)]="authorizedRep.lastName"
            aria-describedby="lastName-help"
            class="usa-input"
            type="text"
            pInputText
          />
          <div class="alert alert-danger" *ngIf="(lastName.touched || lastName.dirty) && lastName.invalid">
            <div *ngIf="lastName.errors.required"><span class="color_red">Last Name is required.</span></div>
          </div>
        </div>
        <div class="grid-col-6 field">
          <label for="jobTitle">Job Title <span class="color_red">*</span></label>
          <input
            required
            #jobTitle="ngModel"
            id="jobTitle"
            name="jobTitle"
            [(ngModel)]="authorizedRep.jobTitle"
            aria-describedby="jobTitle-help"
            class="usa-input"
            type="text"
            pInputText
          />
          <div class="alert alert-danger" *ngIf="(jobTitle.touched || jobTitle.dirty) && jobTitle.invalid">
            <div *ngIf="jobTitle.errors.required"><span class="color_red">Job Title is required.</span></div>
          </div>
        </div>
        <br/>
        <div class="user-info">
          <div class="grid-col-2">Email Address: </div>
          <div class="grid-col-6">{{ authorizedRep.email }}</div>
        </div>
      </p-panel>
      <p-panel header="Mailing Address">
        <div class="grid-col-6 field">
          <label for="streetLine1" class="block">Street Line 1 <span class="color_red">*</span></label>
          <input
            required
            #streetLine1="ngModel"
            id="streetLine1"
            name="streetLine1"
            [(ngModel)]="authorizedRep.address.streetLine1"
            aria-describedby="streetLine1-help"
            class="usa-input"
            type="text"
            pInputText
          />
          <div class="alert alert-danger" *ngIf="(streetLine1.touched || streetLine1.dirty) && streetLine1.invalid">
            <div *ngIf="streetLine1.errors.required"><span class="color_red">Street Line 1 is required.</span></div>
          </div>
        </div>
        <div class="grid-col-6 field">
          <label for="streetLine2" class="block">Street Line 2</label>
          <input
            required
            #streetLine2="ngModel"
            id="streetLine2"
            name="streetLine2"
            [(ngModel)]="authorizedRep.address.streetLine2"
            aria-describedby="streetLine2-help"
            class="usa-input"
            type="text"
            pInputText
          />
        </div>

        <div class="grid-col-12 field">
          <label for="city" class="block">City, State, Zipcode <span class="color_red">*</span></label>
          <div  class="multi_inputs">

            <input
              required
              #city="ngModel"
              id="city"
              name="city"
              [(ngModel)]="authorizedRep.address.city"
              aria-describedby="city-help"
              class="usa-input"
              type="text"
              pInputText
            />
            <span class="underScore" style="margin-right : 3px;">,</span>

            <input
              required
              #state="ngModel"
              id="state"
              name="state"
              [(ngModel)]="authorizedRep.address.state"
              aria-describedby="state-help"
              class="usa-input"
              type="text"
              pInputText
            />
            <span class="underScore" style="margin-right : 3px;">,</span>

            <p-inputMask
              required
              #zipcode="ngModel"
              id="zipcode"
              name="zipcode"
              mask="99999-?9999"
              [(ngModel)]="zip10"
              aria-describedby="zipcode-help"
              placeholder="99999-?9999">
            </p-inputMask>
          </div>
          <ng-container *ngIf="(city.touched || city.dirty) && city.invalid">
            <div class="alert alert-danger" *ngIf="city.errors.required"><span class="color_red">City is required.</span></div>
          </ng-container>
          <ng-container *ngIf="(state.touched || state.dirty) && state.invalid">
            <div class="alert alert-danger" *ngIf="state.errors.required"><span class="color_red">State is required.</span></div>
          </ng-container>
          <ng-container *ngIf="(zipcode.touched || zipcode.dirty)&& zipcode.invalid">
            <div class="alert alert-danger" *ngIf="zipcode.errors.required"><span class="color_red">Zipcode is required.</span></div>
          </ng-container>
        </div>
        <div class="grid-col-6 field">
          <label for="phone" class="block">Phone<span class="color_red">*</span></label>
          <div  class="multi_inputs">
            <p-inputMask
              required
              #phone="ngModel"
              id="phone"
              name="phone"
              mask="(999) 999-9999? x99999"
              [(ngModel)]="phoneExtn"
              placeholder="(999) 999-9999? x99999">
            </p-inputMask>
          </div>
          <div class="alert alert-danger" *ngIf="(phone.touched || phone.dirty) && phone.invalid">
            <div *ngIf="phone.errors.required"><span class="color_red">Phone is required.</span></div>
          </div>
        </div>

        <div class="grid-col-6 field">
          <label for="fax" class="block">Fax<span class="color_red">*</span></label>
          <div  class="multi_inputs">
            <p-inputMask
              required
              #fax="ngModel"
              id="fax"
              name="fax"
              mask="(999) 999-9999"
              [(ngModel)]="authorizedRep.fax"
              placeholder="(999) 999-9999">
            </p-inputMask>
          </div>
          <div class="alert alert-danger" *ngIf="(fax.touched || fax.dirty) && fax.invalid">
            <div *ngIf="fax.errors.required"><span class="color_red">Fax is required.</span></div>
          </div>
        </div>

      </p-panel>
  </div>
  <div class="grid-col-6 field">
    <div class="form_btn_continue">
      <button class="usa-button" type="submit" [disabled]="arInfoForm.invalid">Continue</button>
      <button class="usa-button p-button-sm bg-secondary" (click)="cancel()"> Cancel </button>
    </div>
  </div>

</form>
