<div>
    <h1 class="heading_color">Resend Token URL Email</h1>
    <p class="color_danger">*Required</p>

    <div class="left_user_sub_info">
        <table>
            <tr>
                <th>First Name:</th>
                <td>MRP9198</td>
            </tr>
            <tr>
                <th>Last Name:</th>
                <td>Complete</td>
            </tr>
            <tr>
                <th>E-mail Address:</th>
                <td>test@gamil.com</td>
            </tr>

            <tr>
                <th>Status:</th>
                <td>Complete</td>
            </tr>
        </table>
    </div>


    <div class="user_table">
        <h2>Account heading</h2>
        <table>
            <tr>
                <th>COBSW Application</th>
                <th>User Role</th>
            </tr>
            <tr>
                <td>Name</td>
                <td>Status</td>
            </tr>
            <tr>
                <td>Row 2, cell 1</td>
                <td>Row 2, cell 1</td>
            </tr>

        </table>
    </div>

    <div class="resend_form">
        <table>
            <tr>
                <th>First Name:<span class="color_danger">*</span></th>
                <td><input type="text" /></td>
            </tr>
            <tr>
                <th>Last Name hello uday:<span class="color_danger">*</span></th>
                <td><input type="text" /></td>
            </tr>
        </table>
    </div>


    <button  (click)="onContinue()">Continue</button>
    <button style="margin-left: 10px;" (click)='onCancel()'>Cancel</button>
</div>