<div>
    <h1 class="heading_color">Resend Token URL Email</h1>
    <p class="color_danger">*Required</p>

    <div class="left_user_sub_info">
        <table>
            <tr>
                <th>First Name:</th>
                <td>Jack</td>
            </tr>
            <tr>
                <th>Last Name:</th>
                <td>Test</td>
            </tr>
            <tr>
                <th>E-mail Address:</th>
                <td>test@gamil.com</td>
            </tr>

            <tr>
                <th>Status:</th>
                <td>Pending</td>
            </tr>
        </table>
    </div>


    <div class="user_table">
        <h2><font size=-1>Associated with this Account Manager</font></h2>
        <table>
            <tr>
                <th>Account/RRE ID</th>
                <th>Company Name</th>
            </tr>
            <tr>
                <td>60787</td>
                <td>TESTING NGHP RESTFUL</td>
            </tr>
        </table>
    </div>

    <div class="resend_form">
        <table>
            <tr>
                <th>Pass Phrase:<span class="color_danger">*</span></th>
                <td><input type="text" /></td>
            </tr>
            <tr>
                <th>Re-enter Pass Phrase:<span class="color_danger">*</span></th>
                <td><input type="text" /></td>
            </tr>
        </table>
    </div>


    <button  (click)="onContinue()">Continue</button>
    <button style="margin-left: 10px;" (click)='onCancel()'>Cancel</button>
</div>