<h2>Login GG</h2>

<app-error-messages [messages]="errorMsgs"></app-error-messages>

<p class="instructions">Complete the following information to log in.</p>

<p>An * indicates a <span id="reqField">required field</span>.</p>

<form [formGroup]="loginForm" (ngSubmit)="submitButton.focus(); onSubmit()">
  <fieldset class="usa-fieldset">
    <div class="row">
      <app-rds-input
        type="text"
        maxLength="15"
        size="17"
        id="loginId"
        formControlName="loginId"
        label="* Login ID"
        describedBy="reqField"
      >
      </app-rds-input>
    </div>

    <div class="row">
      <app-rds-input
        type="password"
        maxLength="14"
        size="17"
        id="password"
        formControlName="password"
        label="* Password"
        autocomplete="off"
        describedBy="reqField"
      >
      </app-rds-input>
    </div>
  </fieldset>

  <p class="instructions">Select <strong>Login</strong> to proceed.</p>

  <div class="flex-container wrap">
    <input
      class="usa-button flex-item"
      name="LogIn"
      type="submit"
      value="Login"
      id="loginButton"
      #submitButton
    />
    <input
      class="usa-button flex-item"
      type="button"
      value="Clear"
      (click)="loginForm.reset()"
    />
  </div>
</form>
<br />

<app-success-dialog
  [showEmailSuccess]="showEmailSuccess"
  [emailTypeFlow]="userAccessFlow"
></app-success-dialog>
