<h1>{{title}}</h1>

<app-error-messages [messages]="errorMsgs"></app-error-messages>
<app-error-messages [messages]="successMsgs" [type]="'success'"></app-error-messages>


<p>Create your password based on these requirements:</p>
<div class="grid-col-8">
  <div tabindex="0" #loginPassGuidelines (keydown.shift.tab)="onShiftTab($event)" id="logPassGuides">
    <div id="validate-code" class="myChecklist">
      <div id="passwordRules">
        <ul>
        <li><i class="pi" #passChar></i>Password must be 8 to 14 characters.</li>
        <li><i class="pi" #passBegin></i>Password must begin with a letter.</li>
        <li>Password must include each of the following:</li>
          <ul>
            <li><i class="pi" #pass1LowCase></i>1 - Lowercase letter</li>
            <li><i class="pi" #pass1UpCase></i>1 - Uppercase letter</li>
            <li><i class="pi" #pass1Number></i>1 - Number</li>
            <li><i class="pi" #pass1SpChar></i>1 - Special character</li>
          </ul>
        <li><i class="pi" #passNoLogin></i>Password cannot contain the Login ID.</li>
        <li><i class="pi" #passNoReserved></i>Password cannot contain a reserved word. For more
          information, go to: <a id="reservedWords"
                                 [href]="environmentUrl+'/?q=user-guide/reserved-words-list'"
                                 title="Link opens in a new window."
                                 (keydown.tab)="onTab($event)" (keydown.shift.tab)="onShiftTab($event)"
                                 target="_blank">Reserved Words List</a></li>
        <li><i class="pi" #passNoDictionary></i>Password cannot be a dictionary word or name.</li>
        <li>Password cannot match 4 consecutive characters in the most recent password.</li>
        <li>Password cannot match any of the previous 6 passwords.</li>
      </ul>
      </div>
    </div>
  </div>
</div>
<p> An * indicates a required filed.</p>

<div class="grid-container no-left-margin" id="focusSwitch" tabindex="0" (focus)="onFocus($event)">
  <div class="grid-col-4">
    <form [formGroup]="changePassForm" (ngSubmit)="submit()">
      <div class="row">
        <app-rds-input formControlName="currPassword"  label="* Current Password" id="currPassword"
                       type="password" minLength="8" maxLength="14" size= "14" (blur)="onBlur($event)" describedby="loginRules">
        </app-rds-input>
      </div>
      <div class="row">
        <app-rds-input formControlName="password" label="* Password" id="password"  type="password"  minLength="8" maxLength="14" size= "14" 
                       (blur)="onBlur($event)" describedby="passwordRules" autocomplete="off">
        </app-rds-input>
      </div>
      <div class="row">
        <app-rds-input formControlName="rePassword" #passReEl label="* Re-enter Password" id="passwordReentered"
                       type="password"  minLength="8" maxLength="14"  size= "14"  (blur)="onBlur($event)" (keydown.tab)="onTab($event)" autocomplete="off">
        </app-rds-input>
      </div>
      <br>
      <div class="sameline-block">
        <ng-container *ngIf="!changePassFlag">
          <input class="usa-button"  type="submit" name="action" value="Change Password" #continueButton *ngLoaded="!isLoading">
        </ng-container>
        <input class="usa-button usa-button--outline" type="button" name="action" value="Cancel" (click)="back()">
      </div>
    </form>
  </div>




  

