.usa-alert--info {
    background-image: none;
    margin-left: 1rem;
  }
  
  .usa-alert ul {
    margin-top: 0;
  }
  
  .message {
    width: 80%;
  }
  
  .pw-guide-title {
    margin-top: 0;
  }
  
  
  