<div>
    <h3 class="heading_color">Vetting a Submitter/Registrant</h3>
    <p class="sub_text">
        <font><strong>Account Information must sometimes be manually validated. After the account information has been verified, the 
            Submitter/Registrant must be set to a status of Vetted. Click on the Vetted button below to set the Submitter/Registrant to Vetted.
            </strong></font>
    </p>
    <p class="sub_text">
        <font><strong>
                After being set to Vetted Status, the Submitter/Registrant will recieve an email that contains a PIN.
            </strong></font>
    </p>
    <div>
        <table class="custom_table">

            <tr>
                <td><strong>Account Id:</strong> 29323</td>
                <td><strong>EIN:</strong> 237129072</td>
                <td><strong>PIN:</strong> 4321</td>
                <td><strong>PIN Status:</strong> Unlocked</td>
                <td><strong>Submitter Status:</strong> Initial Registration</td>
            </tr>
        </table>

        <div class="panel-wrapper">
                        <p-panel header="Account Contact Information:">
                MSPRP Postgres Testing <br />
                MSP_AR@test-team.cobqa.com
            </p-panel>

        </div>
    </div>

    <div>
        <button class="usa-button  p-button-sm" style="margin-right : 10px; font-size: 14px" (click)="onVetted()">Vetted</button>
        <button class="usa-button p-button-sm bg-secondary" (click)="onCancel()">Cancel</button>
    </div>
</div>


<p-dialog [(visible)]="display" modal="true" dismissableMask="true" (onHide)="onHideModel()" [breakpoints]="{'960px': '50vw', '640px': '75vw'}" [style]="{width: '50vw'}">
    <p-header>
        Submitter/Registrant Vetting Confirmation
    </p-header>
    Submitter/Registrant for account 29323 status has been set to Vetted in the WCMSAP/MSPRP application.
    <ng-template pTemplate="footer">
        <button class="usa-button" (click)="onHideModel()">Continue</button>
    </ng-template>
</p-dialog>
