<div>
    <h3 class="heading_color"> Submitters Requiring Manual Vetting</h3>
    <p class="sub_text">
        <font><strong>INFORMATION: If the Reactivate function is used the user must login to the system with their
                current password.</strong></font>
    </p>

    <p class="sub_text"> <strong class="color_red">IMPORTANT:</strong><span class="color_red"> function is used the user
            must login to the system</span> <span class="heading_color"> BCRC you sure you want to reactivate the Login
            ID ? </span> </p>


    <div >
           <h3>Submitters:</h3>
        <div class="user_table">
            <table>
                <tr>
                    <th>Submitter ID</th>
                    <th>Registration Date</th>
                    <th>Account Type</th>
                    <th>Contact E-mail</th>
                    <th>Submitter Type</th>

                </tr>

                <!-- <tr >
                    <td colspan="5" class="text-center">No Submitters found </td>
                </tr> -->
                <tr>
                    <td> <a (click)="onAccountInfo()">Row 2, cell 1</a></td>
                    <td>Row 2, cell 1</td>
                    <td>sf</td>
                    <td>Row 2, cell 1</td>
                    <td>Row 2, cell 2</td>
                </tr>

            </table>
        </div>

    </div>





    <button (click)="onCancel()">Cancel</button>
</div>