<div>
    <h3 class="heading_color"> Submitters Requiring Manual Vetting</h3>
    <p class="sub_text">
        <font><strong>NOTE: CLicking on the Submitter ID links on this screen, you will transfer to the Account Inofrmation page, 
        which will display the WCMSAP/MSPRP Account contact information.</strong></font>
    </p>

    <p class="sub_text"> <strong class="color_red">IMPORTANT:<span class="color_red"> Prior to processing a request,
         you must follow the</span> <span class="color_blue"> BCRC Secure Web Site Authentication Guidelines for EDI Representatives.
         </span></strong> </p>


    <div >
           <h3>Submitters:</h3>
        <div class="user_table">
            <table>
                <tr>
                    <th>Submitter ID</th>
                    <th>Registration Date</th>
                    <th>Account Type</th>
                    <th>Contact E-mail</th>
                    <th>Submitter Type</th>

                </tr>

                <!-- <tr >
                    <td colspan="5" class="text-center">No Submitters found </td>
                </tr> -->
                <tr>
                    <td> <a (click)="onAccountInfo()">29323</a></td>
                    <td></td>
                    <td></td>
                    <td>jack@gamil.com</td>
                    <td></td>
                </tr>

            </table>
        </div>

    </div>





    <button (click)="onCancel()">Cancel</button>
</div>