<div class="usa-layout-docs__main usa-prose usa-layout-docs">
  <h1>Login Warning</h1>
  <ul>
    <li>
      This warning banner provides privacy and security notices consistent with
      applicable federal laws, directives, and other federal guidance for
      accessing this Government system, which includes (1) this computer
      network, (2) all computers connected to this network, and (3) all devices
      and storage media attached to this network or to a computer on this
      network.
    </li>
    <li>This system is provided for Government-authorized use only.</li>
    <li>
      Unauthorized or improper use of this system is prohibited and may result
      in disciplinary action and/or civil and criminal penalties.
    </li>
    <li>
      Personal use of social media and networking sites on this system is
      limited as to not interfere with official work duties and is subject to
      monitoring.
    </li>
    <li>
      By using this system, you understand and consent to the following:
      <ul>
        <li>
          The Government may monitor, record, and audit your system usage,
          including usage of personal devices and email systems for official
          duties or to conduct HHS business. Therefore, you have no reasonable
          expectation of privacy regarding any communication or data transiting
          or stored on this system. At any time, and for any lawful Government
          purpose, the Government may monitor, intercept, and search and seize
          any communication or data transiting or stored on this system.
        </li>
        <li>
          Any communication or data transiting or stored on this system may be
          disclosed or used for any lawful Government purpose.
        </li>
      </ul>
    </li>
  </ul>

  <p>
    To access the EDI Privacy Policy, select the
    <strong>Privacy Policy</strong> link in the footer in the EDI Website.
  </p>
  <p>
    Select <strong>Accept</strong> to indicate your awareness of, and consent
    to, the terms and conditions for using this U.S. Government information
    system.
  </p>
  <p>
    Select <strong>Decline</strong> if you are not authorized to access this
    U.S. Government system or if you do not agree to the conditions of use
    stated in this Login Warning.
  </p>
  <p class="exit"></p>
  <p class="exit">
    <button class="usa-button" (click)="accept()"
      title="Select Accept to indicate your awareness of, and consent to, the terms and conditions of use stated in this Login Warning.">
      Accept
    </button>
  </p>
  <p class="exit">
    <button class="usa-button bg-secondary" (click)="decline()" title="Select Decline IMMEDIATELY if you are not authorized to access this system or if you do not agree to the conditions of use stated in this Login Warning.">Decline</button>
  </p>
</div>