<div class="replacement-panels">
  <div class="grid-col-6 old-acct">
    <p-panel header="Current Account Manager">
      <div class="user-info">
        <div class="grid-col-6 user-info-header">First Name</div>
        <div class="grid-col-6">{{ accountManager.firstName }}</div>
      </div>
      <p-divider></p-divider>
      <div class="user-info">
        <div class="grid-col-6 user-info-header">Last Name</div>
        <div class="grid-col-6">{{ accountManager.lastName }}</div>
      </div>
      <p-divider></p-divider>
      <div class="user-info">
        <div class="grid-col-6 user-info-header">Email Address</div>
        <div class="grid-col-6">{{ accountManager.email }}</div>
      </div>
      <p-divider></p-divider>
      <div class="user-info">
        <div class="grid-col-6 user-info-header">Status</div>
        <div class="grid-col-6">{{ accountManager.status }}</div>
      </div>
    </p-panel>
  </div>
  <div class="grid-col-6 new-acct">
    <p-panel header="Replacement Account Manager">
      <div class="user-info">
        <div class="grid-col-6 user-info-header">First Name</div>
        <div class="grid-col-6">{{ newAccountManager.firstName }}</div>
      </div>
      <p-divider></p-divider>
      <div class="user-info">
        <div class="grid-col-6 user-info-header">Last Name</div>
        <div class="grid-col-6">{{ newAccountManager.lastName }}</div>
      </div>
      <p-divider></p-divider>
      <div class="user-info">
        <div class="grid-col-6 user-info-header">Email Address</div>
        <div class="grid-col-6">{{ newAccountManager.email }}</div>
      </div>
      <p-divider></p-divider>
      <div class="user-info">
        <div class="grid-col-6 user-info-header">Status</div>
        <div class="grid-col-6">{{ newAccountManager.status }}</div>
      </div>
    </p-panel>
  </div>
</div>
<div class="grid-col-6 field">
  <div class="form_btn_continue">
    <button class="usa-button" (click)="onConfirm()">Confirm</button>
  </div>
</div>

<p-dialog
  [(visible)]="showSuccessModal"
  class="success-modal"
  [modal]="true"
  header="Account Manager Replaced Successfully"
  [baseZIndex]="10000"
>
  <div style="margin: 36px; font-size: 18px; max-width: 50vw">
    <p>The requested account manager has been succesfully replaced.</p>
    <p>
      If you have assigned a passphrase, the new Account Manager (AM) will
      receive an E-Mail notifying them that they have been invited to become an
      Account Manager. The AM must go to the application web site and complete
      AM registration.
    </p>

    <p>
      It no passphrase was specified, the AM will simply see the new account
      association.
    </p>
  </div>
  <ng-template pTemplate="footer">
    <button class="usa-button" (click)="toggleSuccessModal()">Close</button>
  </ng-template>
</p-dialog>
