<div class="user-info">
    <div class="grid-col-4">
        <div class="user-info-header">First Name</div>
        <div>John</div>
    </div>
    <div class="grid-col-4">
        <div class="user-info-header">Middle Name</div>
        <div>William</div>
    </div>
    <div class="grid-col-4">
        <div class="user-info-header">Last Name</div>
        <div>Smith</div>
    </div>
</div>
<p-divider></p-divider>
<div class="user-info">
    <div class="grid-col-4">
        <div class="user-info-header">Status</div>
    </div>
    <div class="grid-col-8">Active</div>
</div>
<p-divider></p-divider>
<div class="user-info">
    <div class="grid-col-4">
        <div class="user-info-header">Login ID</div>
    </div>
    <div class="grid-col-8">JA777YA</div>
</div>
<p-divider></p-divider>
<div class="user-info">
    <div class="grid-col-4">
        <div class="user-info-header">Last Login</div>
    </div>
    <div class="grid-col-8">01/01/2021 11:10 AM</div>
</div>
<p-divider></p-divider>
<div class="user-info">
    <div class="grid-col-4">
        <div class="user-info-header">Phone Number</div>
    </div>
    <div class="grid-col-8">800-555-5678</div>
</div>
<p-divider></p-divider>
<div class="user-info">
    <div class="grid-col-4">
        <div class="user-info-header">Email Address</div>
    </div>
    <div class="grid-col-8">johnsmith@gmail.com</div>
</div>
<p-divider></p-divider>
<div class="user-info">
    <div class="grid-col-4">
        <div class="user-info-header">Question 1</div>
    </div>
    <div class="grid-col-8">What is your dog's name?</div>
</div>
<p-divider></p-divider>
<div class="user-info">
    <div class="grid-col-4">
        <div class="user-info-header">Answer 1</div>
    </div>
    <div class="grid-col-8">Fido</div>
</div>            
<p-divider></p-divider>
<div class="user-info">
    <div class="grid-col-4">
        <div class="user-info-header">Question 2</div>
    </div>
    <div class="grid-col-8">What is your mother's maiden name?</div>
</div>
<p-divider></p-divider>
<div class="user-info">
    <div class="grid-col-4">
        <div class="user-info-header">Answer 2</div>
    </div>
    <div class="grid-col-8">Johnston</div>
</div>            
