<div>
    <h1 class="heading_color"> Confirm Reactivate Login ID</h1>
    <p class="sub_text"><font color= #0d0f7c><strong>INFORMATION: If the Reactivate function is used the user must login to the system with their 
        current password. If the user does not know their current password, the Reset function should be used instead. The Reset
        function will allow you to set a temporary password to be used at the next login attempt. </strong></font></p>

    <p class="sub_text">Are you sure you want to reactivate the Login ID ? </p>

    <button style="margin-right : 10px;" (click)="onYes()">Yes</button>
    <button (click)="onCancel()">Cancel</button>
</div>

