<div>
    <h1 class="heading_color">Confirm Reactivate Login ID</h1>
    <p class="sub_text"><strong>INFORMATION:</strong> if the reactivate function the user must login with Lorem ipsum dolor sit, amet
        consectetur adipisicing elit. Aperiam excepturi eum expedita quidem ex minima voluptas aliquam aut reiciendis?
        Praesentium sit quisquam amet voluptate laudantium perspiciatis exercitationem optio, quae aliquid?</p>
    <p>Are you sure you want to reactivate the Login ID ? </p>

    <div>
        <button>Yes</button>
        <button class="cnl_button">Cancel</button>
    </div>
</div>